<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602450826810-sj15oqrrdol6l3qffjied69uc7aqj1s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602450826810-sj15oqrrdol6l3qffjied69uc7aqj1s6</string>
	<key>API_KEY</key>
	<string>AIzaSyABEqGLv6UKdhSeWcWlvKjIjqeDfeuFS9s</string>
	<key>GCM_SENDER_ID</key>
	<string>602450826810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feldrise.wei-inventory-firebase</string>
	<key>PROJECT_ID</key>
	<string>wei-inventory-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>wei-inventory-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602450826810:ios:bd3d1843a4a941dae78703</string>
	<key>DATABASE_URL</key>
	<string>https://wei-inventory-firebase.firebaseio.com</string>
</dict>
</plist>